body{
  background-color:#f4f4f4;
  margin: 0 10%;


}

hr {
  background-color: none;
  border-style:  none;
  border-top: dotted;
  border-color: grey;

  border-width: 5px;
  height: 0px;
  width: 7%;
  justify-content: center;

  -webkit-box-shadow: none hoff voff blur color;
  box-shadow: none hoff voff blur color;
}


h1 {
 color:#6983aa;
}


 h4 {
  color: #66bfbf;
}


nav {

  color: green;
}
