

<div id = "head-section">

  <h2>I'm Nick</h2>
<br>
   <p class="">Welcome to my blog, where I'll be sharing some of the stories from my life's journey so far, which has so far taken me across 22 countries and countless cities around the world. But this is far from a travel blog. That's the same as if I were to say it's a house blog, because I'm writing it from home. Travel is just the context for the adventure, which could take any form.
    <br />  <br />
      There are some themes I typically write about - mindfulness and positivity, the importance of financial planning (but not in a boring way), and people, and places who've left impressions on me. Overall, I hope to present a snapshot of the world as I see it, in hopes that I might inspire others, or at least put a smile on their face. 
    <br />  <br />
Have a look around, and feel free to follow my <a href="http://www.instagram.com/nicksukie">instagram</a> page for more regularly updated content. 
    </p>
	
	
<br>
</div>


</div>

<br>
<hr>
