

<div id = "head-section">

  <h2>I'm Nick.</h2>
<br>
   <p class=""> <span class="para-em">I'm on a journey</span> to create value through finding joy in whatever I do. Here, I'll be sharing some of the stories from that journey, which has so far taken me across 22 countries and countless cities around the world. But this is far from a travel blog.

             That's the same as if I were to say it's a house blog, because I'm writing it from home. The places are simply the context for the "adventure" - which is actually just another word for being outside of one's comfort zone - the place where the most learning and growth happens. It just so happens that it's easiest to be outside of your comfort zone when you're in a place where you know nobody, and even better if those people whom you don't know don't speak your language.
    <br />  <br />
      There are some themes I typically write about - mindfulness and positivity, the importance of financial planning (but not in a boring way), and people, and places who've left impressions on me - but I like to think of this as a compilation of various experiences wherefrom one can elicit an overarching, generalized truth, if not just about me, about human nature itself. Because if something's true somewhere, it's true everywhere.
      (version 1.0.1, updated August 11th 2020) 

    </p>
<br>
</div>


</div>

<br>
<hr>
