<footer class="footer block">
<div class="footer-container block" style="width:100%"><p class="right mr3"> copyright nick sukie {{ 'now' | date: "%Y" }} </p>
    <div class="inline-block">
<!--div class="h4">Follow me on <a class="hover-blue" href="https://www.instagram.com/nicksukie">  Instagram</a> for more regular updates.</div-->

<div class="social"><a href="http://www.instagram.com/nicksukie"><img src="/assets/images/ig-logo.png"></div>
      <!--div class="center">{%- include social.html -%}</div-->
	  
    </div>

</div>
</footer>
