<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="{{ "/style.css" }}">
	<!--dynamically generated css file from /assets/css
	<link rel="stylesheet" href="/assets/css/styles.css">-->
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Roboto+Slab&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	
	
	
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126744533-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126744533-2');
</script>

	
    <meta property="author" content="Nick Sukie">

    <title>{{ page.title }}</title>
    
    
    <meta name="description" content=" {{ page.excerpt }} ">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:site_name" content=" {{ site.title }}" />
    <meta property="og:image" content="{{ page.featured_img }}" />    

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@nicksukie">
    <meta name="twitter:creator" content="@nicksukie">
    <meta name="twitter:title" content="{{ page.title }}"/>
    <meta name="twitter:description" content="{{ page.excerpt }}"/>
    <meta name="twitter:image" content="{{ site.url }}{{ page.featured_img }}"/>
	<meta name="twitter:image:width" content="400" />
	<meta name="twitter:image:height" content="300" />
	
	
</head>
