/* no longer using this file. CSS is now found in assets/css/styles.scss
which references main.scss in the /_sass directory (e.g. changes to CSS go directly is _sass folder)*/



nav {
color: none;
background: white;
box-shadow: 0 4px 4px -4px;
display: block;

height: 70px;
opacity: .6;

margin: 0 0 30px 0;
width: 100%;
transition: opacity .3s;
line-height: 70px;
vertical-align: middle;


}



nav:hover {
	transition: .3s;
	opacity:1;
}



.nav-contents {

	margin: 0 30px;
	
}

.nav-item {
	color: black;
	padding: 0 10px 0 0;
	font-weight: bold;
	font-family: sans-serif;
	float: left;
	opacity: .6;
	transition: opacity .3s;

		
}


.nav-item:hover {

	opacity: 1;
	color: black;
	transition: 0.3s;

}


body{
	
  background-color:white;
	margin: 0 0;


}

a {
  color: black;
  font-style: normal;
  text-decoration: none;
}

.post-preview {
	
	opacity:.7;
	
	
}

.post-preview:hover {
	
	opacity: 1;
	
	
}

@media screen and (max-width: 640px) {
	
.nav-item {
	font-size: 0.8em;
	text-transform: lowercase;
}	
	
  .text-body {

    max-width: 460px;
	margin: 0 10px;
    font-size: .9em;

  }
  
  .image-contain {
	  height: 140px;
	  overflow: hidden;
	  border-radius: 6px;
	  	width: 70%;
		margin: 0 auto;
	  
  }
  .featured_img-preview {

	width: 100%;
	max-height: 100%;
	object-fit: cover;
	

}

.post-list {

}


.post-preview {

  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 30px;
}


.feat-img-container { 

	overflow: hidden;
	max-height: 300px;
}

.feat-img {
	width: 100%;
	max-height: 100%;
	object-fit: cover;
	display: inline-block;



}

}


@media screen and (min-width: 641px) {
.text-body {
  margin: 0 auto;
  width: 65%;
}

.featured_img-preview {
width: 230px;
border-radius: 6px;


}



 .post-preview {

  text-align: center;
  width: 100%;
  display: inline;
}


.post-list {
	min-width: 1000px;
	display: block;
	margin: 0 30px;

}
.post-list>li {

  display: inline;
}




.feat-img-container { 

	overflow: hidden;
	height: 400px;
}

.feat-img {
	width: 100%;
	max-height: 100%;
	object-fit: cover;
	display: inline-block;



}


}

@media screen and (min-width: 641px) and (max-width: 1042px) {
.recent_entries {
	
	overflow-x: scroll;
}

}

.post-list-post-preview {
	
}

.post-list-post-title {
	
	font-family: 'Roboto Slab', serif;
	font-size: 1.8em;
}

.home-post-title {
	
	font-family: 'Roboto Slab', serif;

}

.excerpt-text {

font-style: italic;
font-size: 1.2em;
}

.post-title {
	font-family: 'Roboto Slab', serif;
	font-size: 2.0em;
margin-bottom: 15px;	
}

.article {
    margin: 0 10%;
}

hr {
	border: 0;
	border-top: 1px solid #eee
}

.hr2 {
	
	border: 0;
	border-top: 2px solid grey;
	width: 7%;
}

p {
	font-size: 1.1em;
	  margin: 0 ;
}

h1 {
 color: black;
}

h1, h2, h3, h4, h5, h6 {

  margin: 0 ;
  
}

 h4 {
  color: #66bfbf;
}


.date-text {
	font-size: .9em;
	color: #777778;
	text-transform: uppercase;
	font-weight: 500;
}


.paragraph-text {
	font-family: "Times New Roman", Times, serif;
	
	line-height: 1.4em;
}

.para-em {
  font-weight: bold;
  font-style: italic;
  font-size: 1.1em;
}



.recent_entries {

  width: 100%;

}






.post-preview:hover a{ 
color: #6A95D1;
}


.post-list-post-preview:hover a .post-list-post-title, .post-list-post-preview:hover a p{
	color: #6A95D1;
}


/**
 * Site footer
 */

footer {
	margin-top: 15px;
	background-color: white;
	padding: 15px 15px;
	border-top: 1px solid #eee;


}


.sans {
	
	font-family: sans-serif;
}




/**
 * More posts nav
 */


.more-posts {
	

	margin: 0 auto;
	width: 90%;
	height: 100%;
	
} 
 
 
 .PageNavigation {
min-height: 300px;
}
 
 

