---
layout: default
---
<div class="page-content">
    <div class="center text-body paragraph-text-home mx-auto mb2">
<h2>Who Am I?</h2>
<p>
<br>

I'm a computer scientist and writer. I'm passionate about innovative technologies, including machine learning and artificial intelligence, especially in the areas of computer vision and deep learning. <br>
<br>
 I spent a few years of my life working on a startup-slash-research project attempting to solve the problem of low-quality news and misinformation on social media. The remnants of that project can be found <a href="inflo">here</a>.
<br><br>

My biggest hobby is traveling, and I've begun to share my travel experiences through my <a href="http://www.nickstravelworld.com">blog</a> and <a href="http://www.instagram.com/nickstravelworld">Instagram</a>.

</p>


</div>
