---
layout: default
---
<div class="page-content">
    <div class="center text-body paragraph-text-home mx-auto mb2">
<h2>Who Am I?</h2>
<p>
<br>

I'm a computer scientist and writer. I'm passionate about innovative technologies, including machine learning and artificial intelligence, especially in the areas of natural language processing and machine learning. <br>
<br>
 I spent a few years working on a startup-slash-research project attempting to solve the problem of low-quality news and misinformation on social media. The remnants of that project can be found <a href="inflo">here</a>.
<br><br>

I've spent a large portion of my life living abroad and I've begun to share my experiences on my <a href="http://www.nicksnomadlife.com">blog</a> and <a href="http://www.instagram.com/nicksnomadlife">Instagram</a>.
<br><br>
I'm also passionate about music and photography.

</p>


</div>
