---
layout: default
---
<article class="post h-entry article" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
  
 <div class="feat-img-container" ><img class="feat-img" src="{{ page.featured_img }}"></div>

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
	  
	  
    <h1 class="post-title m0" itemprop="name headline">{{ page.title | escape }}</h1>

	  
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}

  </div>
  
<!-- 
Display tags
-->  
	{% if page.tags.size > 0 %}
  Tag{% if page.tags.size > 1 %}s{% endif %}:
  {{ page.tags | join: ", " }}
{% endif %}


  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
